@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light Mode (Default) */
:root {
  --background: 248, 246, 255;
  --card: 255, 255, 255;
  --primary-purple: 137, 87, 255;
  --primary-yellow: 251, 199, 105;
  --primary-red: 251, 129, 129;
  --primary-green: 30, 171, 146;
  --primary-text: 35, 38, 43;
  --secondary-text: 29, 30, 36;
}

/* Dark Mode */
html[data-theme="dark"] {
  --background: 35, 38, 43;
  --card: 29, 30, 36;
  --primary-purple: 137, 87, 255;
  --primary-yellow: 251, 199, 105;
  --primary-red: 251, 129, 129;
  --primary-green: 30, 171, 146;
  --primary-text: 248, 246, 255;
  --secondary-text: 255, 255, 255;
}

/* Smooth Transition */
html {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Apply Theme Variables */
body {
  background-color: rgb(var(--background));
}
